<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Title }}{{ if not .IsHome }} - {{ site.Title }}{{ end }}</title>

    {{ with .Params.description }}
    <meta name="description" content="{{ . }}">
    {{ else }}
    <meta name="description" content="{{ .Summary }}">
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    {{ partialCached "css-favicon" . }}


</head>

<body>

    {{ if .Ancestors }}
    <header>
        <nav aria-label="breadcrumb">
            {{ range .Ancestors.Reverse }}
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a> >
            {{ end }}
        </nav>
    </header>
    {{ end }}


    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ $current := . }}
    {{ with .Parent }}
    <aside>
        <p>Voir aussi:
        <p>
        <ul>
            {{ range .Pages }}
            {{ if ne $current .}}
            <li>
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </aside>
    {{ end }}

</body>

</html>