AddDefaultCharset UTF-8
DefaultLanguage fr-ch

RewriteEngine On

# Renvoi vers la version https
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www. [NC]
RewriteRule (.*) https://visiter-neuchatel.ch/$1 [R=301,L]

# Suppression du www. s’il existe
RewriteCond %{HTTP_HOST} ^www.visiter-neuchatel.ch$ [NC]
RewriteRule ^(.*)$ https://visiter-neuchatel.ch/$1 [R=301,L]

# https://securityheaders.com/

Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "DENY"
Header always set X-XSS-Protection "1;mode=block"
Header always set Referrer-Policy "same-origin"
Header always set X-Permitted-Cross-Domain-Policies "none"

# Gestion 404 (pas très propre)
ErrorDocument 404 https://visiter-neuchatel.ch/

# Cache général
<filesMatch ".(css|js|jpg|jpeg|png|gif|ico|svg)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>

# Cache immutable pour CSS et fonts
<filesMatch ".(css|woff2)$">
Header set Cache-Control "max-age=63072000,immutable"
</filesMatch>